body {
  margin: 0 auto;

  color: white;

  font-family: "Roboto", sans-serif;
}

* {
  border: none;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 50px;
  background-color: #1f2937;
  margin-right: 0;
  color: whitesmoke;
  padding-bottom: 50px;
  outline-color: #1f2937;
}
#header-logo {
  font-size: 24px;
  color: #f9faf8;
  outline-color: #1f2937;
}

.nav-list {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  margin-right: 0;
  font-size: 18px;
  outline-color: #1f2937;
}
.nav-item {
  list-style: none;
  padding: 19px;
  margin-right: 5px;
  color: #e5e7eb;
  font-size: 18px;
  outline-color: #1f2937;
}
a {
  color: aliceblue;
  text-decoration: none;
}
.hero {
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  background-color: #1f2937;

  padding: 50px 170px 100px 170px;
}

.img-placeholder {
  display: flex;
  align-self: flex-end;
  border-radius: 0px;
}
img {
  border-radius: 2px;
}
.hero-item {
  color: #e5e7eb;
  font-size: 18px;
  padding-bottom: 20px;
  padding-right: 10px;
}
#hero-btn {
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 7px;
  background-color: #3882f6;
  font-weight: bold;
  color: #f9faf8;
  font-size: 18px;
  margin-top: 5px;
}
h1.hero-header {
  display: flex;
  align-self: flex-start;
  margin-left: 0%;
  flex-wrap: nowrap;
  font-size: 48px;
  color: #f9faf8;
  padding-bottom: 20px;
  padding-right: 10px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
.info-box {
  width: 250px;

  margin: 20px;

  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
  background-color: whitesmoke;
}
.idk {
  height: 150px;
  width: 150px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  border: solid 4px #3882f6;
}
.info-text {
  width: 150px;
  font-size: small;
  background-color: whitesmoke;
  color: #1f2937;
  margin: 20px auto;
}

#info-header {
  text-align: center;
  background-color: whitesmoke;
  font-size: 36px;
  color: #1f2937;

  padding: 60px;
}
.quote {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;

  padding: 60px;
}

.quote p {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
  font-family: "Roboto", arial;
}

.quote b {
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 900px;
  font-family: "Roboto", arial;
  text-align: right;
  color: #1f2937;
  font-size: 24px;
}
.signup-container {
  background-color: #3882f6;
  width: 700px;
  height: 100px;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 2em;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.action {
  padding-left: 34px;
}

#signup-btn {
  width: 120px;
  height: 30px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 7px;
  background-color: #3882f6;
  font-weight: bold;
  color: #f9faf8;
  font-size: 18px;
}
.footer {
  background-color: #1f2937;
  display: flex;
  flex: 1 1 200px;
  justify-content: center;
  align-items: center;
  height: 80px;
}
